<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<body class="d-flex flex-column min-vh-100">
<%- include('header', {connexion:connected}); -%>
<div class="container col-lg-6 px-4 py-2 my-5">
    <form method="post">
        <h1 class="text-center display-5 fw-bold"><%= title %></h1>
        <br>
        <% if (locals.flash && locals.flash.error_date) { %>
            <h2 class="fs-4 fw-bold error"><%= flash.error_date %></h2>
        <% } else {%>
            <h2 class="fs-4 fw-bold">Select a date:</h2>
        <% } %>
        <div class="input-group mb-3">
            <input name="date" type="text" id="datepicker" class="form-control datepicker" placeholder="Pick a date: MM/DD/YYYY" autocomplete="off" required="" maxlength="10">
        </div>

        <h2 class="fs-4 fw-bold">Destination:</h2>
        <!--The div element for the map -->
        <div id="floating-panel">
            <h3 class="fs-6 fw-bold">Start:</h3>
            <input name="start" type="text" class="form-control" id="start" placeholder="your localisation" value="<%= address %>" required="" maxlength="100">
            <br>
            <% if (locals.flash && locals.flash.error) { %>
                <h3 class="fs-6 fw-bold error">End: <%= flash.error %></h3>
            <% } else {%>
                <h3 class="fs-6 fw-bold">End:</h3>
            <% } %>
            <select name="end" id="end" class="form-select">
                <option value="">Choose...</option>
                <% for (const hospital of hospitals) { %>
                    <option value="<%= hospital.address %>,<%= hospital.city %>"><%= hospital.city %>, <%= hospital.name %></option>
                <% } %>
            </select>
        </div>
        <br>
        <div id="map"></div>

        <div class="container col-lg-3 py-2">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Take it</button>
        </div>
    </form>
</div>

<script id="date" type="application/json"><%- JSON.stringify(date) %></script>
<script src="/script/js/google_map_donator.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="/script/js/datepicker.js"></script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.KEY_API_GOOGLEMAP %>&callback=initMap&v=weekly"
        async
></script>

<%- include('footer'); -%>
</body>
</html>