<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<body>
<%- include('header'); -%>
<div class="container col-lg-6 mx-auto">
    <h1 class="display-5 fw-bold text-center">Comments</h1>
    <% if (connexion === true) { %>
    <form method="post">
        <div class="input-group mb-3">
            <input name="comment" type="text" class="form-control" placeholder="write your comment..." aria-label="Recipient's username" aria-describedby="button-addon2" required="">
            <button class="btn btn-outline-secondary active" type="submit" id="button-addon2">Button</button>
        </div>
    </form>
    <% } %>

    <% for (comment of comments) { %>
    <div class="card">
        <div class="card-header">
            <%= comment.prenom %>
            <%= comment.nom %>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p><%= comment.texte %></p>
                <p class="text-end fs-6"><%= comment.date_publication.fromNow() %></p>
            </blockquote>
        </div>
    </div>
    <br>
    <% } %>
</div>
<%- include('footer'); -%>
</body>
</html>