<!DOCTYPE html>
<html lang="en">
<%- include('head'); -%>
<body class="text-center">
<%- include('header'); -%>
<div class="container col-lg-6 mx-auto ">
    <h1 class="display-5 fw-bold">Partners</h1>
    <div id="map"></div>
</div>

<script id="data" type="application/json"><%- JSON.stringify(hospitals) %></script>
<script src="/script/js/google_map_partners.js"></script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script
        src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.KEY_API_GOOGLEMAP %>&callback=initMap&v=weekly"
        async
></script>
<%- include('footer'); -%>
</body>
</html>